# __FINAL PROJECT PHASE II__

In [3]:
import pandas as pd
import duckdb

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [6]:
flights_2022=pd.read_csv('Combined_Flights_2022_part1.csv')
airports = pd.read_csv('airports.csv')

In [7]:
flights_2022.head()

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [8]:
airports.head()

,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228

In [9]:
df = duckdb.sql('''
SELECT flights_2022.*
, airports.city AS origin_city
, airports.state AS origin_state
, airports.country AS origin_country
, airports.latitude AS origin_latitude
, airports.longitude AS origin_longitude
FROM flights_2022 
LEFT JOIN airports ON flights_2022.origin = airports.IATA
''').df()

In [10]:
df2 = duckdb.sql('''
SELECT df.*
, airports.city AS dest_city
, airports.state AS dest_state
, airports.country AS dest_country
, airports.latitude AS dest_latitude
, airports.longitude AS dest_longitude
FROM df
LEFT JOIN airports ON df.dest = airports.IATA
''').df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [12]:
df2.head()

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,...,origin_city,origin_state,origin_country,origin_latitude,origin_longitude,dest_city,dest_state,dest_country,dest_latitude,dest_longitude
0,307200,2022-04-06,Delta Air Lines Inc.,JFK,SJU,False,False,805,819.0,14.0,...,New York,NY,USA,40.639751,-73.778926,San Juan,PR,USA,18.439417,-66.001833
1,307201,2022-04-06,Delta Air Lines Inc.,SJU,JFK,False,False,1310,1310.0,0.0,...,San Juan,PR,USA,18.439417,-66.001833,New York,NY,USA,40.639751,-73.778926
2,307202,2022-04-07,Delta Air Lines Inc.,JFK,SJU,False,False,805,802.0,0.0,...,New York,NY,USA,40.639751,-73.778926,San Juan,PR,USA,18.439417,-66.001833
3,307203,2022-04-07,Delta Air Lines Inc.,SJU,JFK,False,False,1310,1306.0,0.0,...,San Juan,PR,USA,18.439417,-66.001833,New York,NY,USA,40.639751,-73.778926
4,307204,2022-04-08,Delta Air Lines Inc.,JFK,SJU,False,False,805,1130.0,205.0,...,New York,NY,USA,40.639751,-73.778926,San Juan,PR,USA,18.439417,-66.001833

In [14]:
#Selecting only specified colunms from df2. 
cols = ['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted', 'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime', 'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime', 'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners', 'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline', 'Flight_Number_Marketing_Airline', 'Operating_Airline', 'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline', 'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName', 'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup', 'DivAirportLandings']
new_df = df2[cols]

In [16]:
new_df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-06,Delta Air Lines Inc.,JFK,SJU,False,False,805,819.0,14.0,14.0,...,840.0,1154.0,4.0,1200,-2.0,0.0,-1.0,1200-1259,7,0
1,2022-04-06,Delta Air Lines Inc.,SJU,JFK,False,False,1310,1310.0,0.0,0.0,...,1326.0,1656.0,20.0,1715,1.0,0.0,0.0,1700-1759,7,0
2,2022-04-07,Delta Air Lines Inc.,JFK,SJU,False,False,805,802.0,0.0,-3.0,...,834.0,1144.0,3.0,1200,-13.0,0.0,-1.0,1200-1259,7,0
3,2022-04-07,Delta Air Lines Inc.,SJU,JFK,False,False,1310,1306.0,0.0,-4.0,...,1326.0,1659.0,9.0,1715,-7.0,0.0,-1.0,1700-1759,7,0
4,2022-04-08,Delta Air Lines Inc.,JFK,SJU,False,False,805,1130.0,205.0,205.0,...,1144.0,1511.0,2.0,1200,193.0,1.0,12.0,1200-1259,7,0